[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "*"
jupyter = "*"
jax = {extras = ["cpu"], version = "*"}
ipython = "*"
jupytext = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
astropy = "*"
multiprocess = "*"

[dev-packages]

[requires]
python_version = "3.9"
